::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-button { height: 0px; }
::-webkit-scrollbar-track-piece { background-color: #fff;}
::-webkit-scrollbar-thumb { background-color: #3e4047; border-radius: 5px;}
::-webkit-scrollbar-thumb:hover { background-color: #a1a1a1; }

body.modal-open {
  overflow: hidden;
}

h1 {
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 500;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: black;
}